.searchWrapper {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  justify-content: center;

  .paper {
    width: 80%;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .searchHeader {
      padding-bottom: 10px;
    }
  }
}
.cardsWrapper {
  overflow-y: scroll;
  .cardContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    .avatarContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      & p {
        margin-left: 10px;
      }
    }
    .seeUserLink {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 20px;
    }
  }
}
