.searchWrapper {
  min-height: 300px;
  display: flex;
  justify-content: center;
  flex-grow: 1;

  .paper {
    width: 90%;
    max-width: 800px;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .searchHeader {
      padding-bottom: 10px;
    }
  }
}
.cardsWrapper {
  overflow-y: scroll;
  .cardContainer {
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    outline: none;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
    &:active {
      background-color: rgba(0, 0, 0, 0.2);
    }
    .avatarContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      & p {
        margin-left: 10px;
      }
    }
    .seeUserLink {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 20px;
      a {
        display: inline-block;
        min-width: 65px;
      }
    }
  }
  .noResultsText {
    padding: 20px;
    font-size: 1.2rem;
  }
}
