.searchWrapper {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  justify-content: center;
  .paper {
    width: 80%;
    overflow-y: scroll;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
}
