$darckGray_color: rgba(0, 0, 0, 0.2);

.userInfoWrapper {
  width: 50%;
  height: 100%;
  .paper {
    width: 90%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .closeButton {
      position: absolute;
      top: 5px;
      right: 5px;
    }
    .reposContainer {
      overflow-y: scroll;
      border-top: 1px solid $darckGray_color;
      min-height: 120px;
      flex-grow: 1;
      .linkRepoBlock {
        display: flex;
        text-decoration: none;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid $darckGray_color;
        color: black;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }
        &:active {
          background-color: $darckGray_color;
        }
        .repoStarsForks {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
